<a href="https://colab.research.google.com/github/DavidYC86/Data20/blob/main/Ciclos_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Escribe un ciclo que imprima los números del 1 al 10

In [52]:
firstNumbers = ['1','2', '3', '4', '5', '6', '7', '8', '9', '10']
print(firstNumbers)
for firstNumber in firstNumbers:
  print(firstNumber)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
1
2
3
4
5
6
7
8
9
10

In [50]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)
for number in numbers: #it took me 2 hours to understand the colon and intend was missing
  print (number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [56]:
for value in range (1,11):
  print(value)

1
2
3
4
5
6
7
8
9
10

2. Escribe un ciclo que imprima los números pares entre el 30 y el 50 (incluyendo el 30 y excluyendo el 50)

In [63]:
evenNumbers = list(range(30,50,2))
print(evenNumbers)

for value in range (30,50,2):
  print(value)

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
30
32
34
36
38
40
42
44
46
48

3. Escribe un ciclo que imprima los valores entre el 3 y el 8 en pasos de 2 en 2.

In [82]:
oddNumbers = list(range(1,9,2))
print(oddNumbers)
for value in range(1,10,2):
  print(value)

[1, 3, 5, 7]
1
3
5
7
9

4. Escribe un ciclo que recorra la siguiente lista e imprima cada nombre de pokemon:

In [90]:
pokemones = ['Bulbasaur', 'Ivysaur', 'Squirtle', 'Venusaur', 'Charmander', 
           'Squirtle', 'Charmeleon', 'Pidgey', 'Pikachu', 'Squirtle']
for pokemon in pokemones:
  print(pokemon.title())

Bulbasaur
Ivysaur
Squirtle
Venusaur
Charmander
Squirtle
Charmeleon
Pidgey
Pikachu
Squirtle